@model Blog.Model.BLOG
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<blockquote class="layui-elem-quote" style="height:30px;font-size:14px;line-height:0px;font-weight:bold;">添加新文章</blockquote>
<form class="layui-form" action="" method="post" style="padding:10px;height:100%;">
    <div class="layui-form-item">
        <label class="layui-form-label">标题：</label>
        <div class="layui-input-block">
            @Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "layui-input", @placeholder = "请输入标题", @autocomplete = "off" })
            @*<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">*@
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型：</label>
        <div class="layui-input-block" style="width:200px;">
            <select name="CategoryTypeId">
                @foreach (Blog.Model.CATEGORY item in ViewBag.CategoryList)
                {
                    if (item.Id.ToString() == Model.CategoryTypeId)
                    {
                        <option value="@item.Id" selected="selected">@item.CName</option>
                    }
                    <option value="@item.Id">@item.CName</option>
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容：</label>
        <div class="layui-input-block">
            @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "layui-textarea", @placeholder = "请输入内容" })
            @*<textarea name="desc" placeholder="请输入内容" class="layui-textarea" style="height:280px;"></textarea>*@
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
            @*<button type="reset" class="layui-btn layui-btn-primary">重置</button>*@
            <a href="/Admin/Home/Default" class="layui-btn">返回列表</a>
        </div>
    </div>
</form>
<script src="~/lib/layui/layui.js"></script>
<style>
    textarea {
        min-height: 200px;
    }
</style>
<script>
    //Demo
    layui.use(['form', 'layedit'], function () {
        var form = layui.form;
        var layedit = layui.layedit;

        // 配置 LayUi 上传图片接口
        layedit.set({
            uploadImage: {
                url: '/Admin/Home/UploadImage' //接口url
                , type: 'post' //默认post
            }
        });


        layedit.build('Content', {
            height: 200 //设置编辑器高度
        }); //建立编辑器
        //监听提交
        form.on('submit(formDemo)', function (data) {
            console.log(data.field);
            if (data.field["Title"] == "" || data.field["Title"] == null) {
                layer.msg("标题不能为空！");
                return false;
            }
            return true;
        });
    });
</script>
