@model Blog.Model.BLOG
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Title 详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/assets/Hexo/css/style.css" rel="stylesheet" />
    <link href="~/assets/Default/styles/font-awesome.css" rel="stylesheet" />
    <script src="~/assets/Hexo/js/jquery-1.10.2.min.js"></script>
</head>

<body>
    <div id="container">
        <div class="left-col">
            <div class="overlay"></div>
            <div class="intrude-less">
                <header id="header" class="inner">
                    <a href="/" class="profilepic">
                        <img lazy-src="/images/WRQ.png" src="~/images/WRQ.png" class="js-avatar">
                    </a>
                    <hgroup>
                        <h1 class="header-author"><a href="/">一大条咸鱼</a></h1>
                    </hgroup>
                    <p class="header-subtitle">一小条咸鱼</p>
                    <div class="switch-area">
                        <div class="switch-wrap">
                            <section class="switch-part switch-part1">
                                <nav class="header-menu">
                                    <ul>
                                        @*<li><a href="/">主页</a></li>*@

                                        <li><a href="/catalog/x.Url.ToLower()">.NET（34）</a></li>
                                        <li><a href="/catalog/x.Url.ToLower()"> C# （34）</a></li>
                                        <li><a href="/catalog/x.Url.ToLower()">ASP.NET MVC （34）</a></li>
                                        <li><a href="/catalog/x.Url.ToLower()">LIUNX （4）</a></li>

                                    </ul>
                                </nav>
                                <nav class="header-nav">
                                    <div class="social">
                                        <a class="github" target="_blank" href="https://github.com/Ihone8" title="github">github</a>
                                        <a class="linkedin" target="_blank" href="http://www.linkedin.com/in/%E7%A7%8B%E5%AE%9E-%E7%94%B0-146850126" title="LinkedIn">LinkedIn</a>
                                        <a class="mail" target="_blank" href="mailto:2213629594qq.com" title="Email">Email</a>
                                    </div>
                                </nav>
                            </section>
                            <section class="switch-part switch-part2">
                                <div class="widget">

                                    <nav class="header-menu">
                                        <ul>
                                            <li><a href="/x.Year/x.Month">2016年12月 （34）</a></li>
                                            <li><a href="/x.Year/x.Month">2016年12月 （34）</a></li>
                                            <li><a href="/x.Year/x.Month">2016年12月 （34）</a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </section>
                            <section class="switch-part switch-part3">
                                <div class="widget tagcloud" id="js-tagcloud">

                                    <a href="/tag/x.Title/" style="font-size: 10px;">NET</a>
                                    <a href="/tag/x.Title/" style="font-size: 10px;">XAMARIN</a>
                                    <a href="/tag/x.Title/" style="font-size: 10px;">IOS</a>
                                    <a href="/tag/x.Title/" style="font-size: 10px;">ANDROID</a>

                                </div>
                            </section>
                            <section class="switch-part switch-part4">
                                <div id="js-friends">
                                    foreach (BlogRollViewModel x in ViewBag.Rolls)
                                    {
                                    <div class="sidebar-blog-roll"><a target="_blank" href="x.URL"><img src="/file/download/x.AvatarId" alt="x.Name" /></a></div>
                                    }
                                    <div class="sidebar-blog-roll"><a href="javascript:BlogRoll('ViewBag.GitHub');"><img src="~/assets/Default/images/blog-roll.png" /></a></div>
                                    <div class="sidebar-blog-roll-tip"></div>
                                </div>
                            </section>

                        </div>
                    </div>
                </header>
            </div>

        </div>
        <div class="mid-col">
            <nav id="mobile-nav">
                <div class="overlay">
                    <h1 class="header-author js-mobile-header hide">一条咸鱼</h1>
                </div>
                <div class="intrude-less">
                    <header id="header" class="inner">
                        <div class="profilepic">
                            <img src="http://7vzqh7.com1.z0.glb.clouddn.com/avatar.jpg" class="js-avatar">
                        </div>
                        <hgroup>
                            <h1 class="header-author">WRQ</h1>
                        </hgroup>

                        <p class="header-subtitle">一条咸鱼</p>

                        <nav class="header-menu">
                            <ul>
                                <li><a href="/">主页</a></li>

                                <li><a href="/catalog/x.Url.ToLower()">.NET（1）</a></li>
                                <li><a href="/catalog/x.Url.ToLower()">ASP.NET（1）</a></li>
                                <li><a href="/catalog/x.Url.ToLower()">SQLSERVER（1）</a></li>
                                <li><a href="/catalog/x.Url.ToLower()">ASP.NET MVC（5）</a></li>

                                <div class="clearfix"></div>
                            </ul>
                        </nav>
                        <nav class="header-nav">
                            <div class="social">
                                <a class="github" target="_blank" href="https://github.com/Ihone8" title="github">github</a>
                                <a class="linkedin" target="_blank" href="http://www.linkedin.com/in/%E7%A7%8B%E5%AE%9E-%E7%94%B0-146850126" title="LinkedIn">LinkedIn</a>
                                <a class="mail" target="_blank" href="mailto:2213629594qq.com" title="Email">Email</a>
                            </div>
                        </nav>
                    </header>
                </div>
            </nav>

            <div class="body-wrap">
                <article class="article article-type-post" itemscope itemprop="blogPost">
                    <div class="article-meta">
                        <a href="javascript:void(0);" class="article-date">
                            <time datetime="@Model.CreateDate.ToString()" itemprop="datePublished">@Model.CreateDate.ToString()</time>
                        </a>
                    </div>
                    <div class="article-inner">
                        <input type="hidden" class="isFancy" />
                        <header class="article-header">
                            <h1 itemprop="name">
                                <a class="article-title" href="javascript:void(0);" style="width:800px;display:block;">@Model.Title</a>
                            </h1>
                        </header>
                        <div class="article-entry" itemprop="articleBody">
                            @Html.Raw(Model.Content);
                        </div>
                        <div class="article-info article-info-index">
                            <div class="article-tag tagcloud">
                                <ul class="article-tag-list">
                                    <li class="article-tag-list-item"><a class="article-tag-list-link" asp-action="Tag" asp-controller="Home" asp-route-tag="@Model.CategoryTypeName">@Model.CategoryTypeName</a></li>
                                    <li class="article-tag-list-item"><a class="article-tag-list-link" asp-action="Tag" asp-controller="Home" asp-route-tag="@Model.Visit">访问量： @Model.Visit</a></li>

                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        @*

                                 <div class='article-info article-info-index'>
                                                <div class='article-tag tagcloud'>
                                                <ul class='article-tag-list'>
                                                <li class='article-tag-list-item'>
                                                <a class='article-tag-list-link' asp-action='Tag' asp-controller='Home' asp-route-tag='" + obj.categoryTypeName + "'>" + obj.categoryTypeName + "</a></li></ul>";
                            </div><div class='clearfix'></div></div>


                        *@
                    </div>
                </article>
                <div id="page" style="margin-left:28px;"></div>
            </div>

            <footer id="footer">
                <div class="outer">
                    <div id="footer-info">
                        <div class="footer-left">
                            &copy; @DateTime.Now.Year <a href="https://github.com/Ihone8">Ihone8</a>, Template

                        </div>
                        <div class="footer-right">
                            Powered by <a href="https://github.com/Ihone8/XYBlog" target="_blank">XYBlog</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <link href="~/assets/Hexo/css/fancybox.css" rel="stylesheet" />
        <script type="text/javascript" src="~/assets/shared/scripts/jquery.codecomb.fileupload.js"></script>

        <script src="~/assets/Hexo/js/highlight.js"></script>
        <script src="~/assets/Hexo/js/r.js"></script>
        <script src="~/assets/Hexo/js/main.js"></script>
        <script>
            var yiliaConfig = {
                fancybox: true,
                mathjax: true,
                animate: true,
                isHome: true,
                isPost: false,
                isArchive: false,
                isTag: false,
                isCategory: false,
                open_in_new: false
            }
        </script>
    </div>
</body>
</html>
